* {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 52px;
    color: blueviolet;

}



span {
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-size: cover;
    background-image: url("heart.png");
    pointer-events: none;
    animation: heart-animate 6s linear
}


@keyframes heart-animate {
    0%{
        transform: translate(-50%,-50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%,-5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
    
}